@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}
body {
  overflow-x: hidden;
}
/*--------loadding------------------*/
.wait{
  display: none !important;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.loadding{
  background-color: #fff;
  display:flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  font-size:20px;
}
/*------------------------*/
/*-------------------------------header-----------------------------------------*/
.logo--img {
  width: 70px;
}
header {
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: #293b5f;
  position: relative;
  justify-content: space-evenly;
}
li {
  text-transform: uppercase;
  display: inline-block;
}
li a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 15px;
  color: #fff;
}
.nav__ {
  transition: color 0.4s;
  transition: border-bottom 0.3s;
  padding-bottom: 5px;
}
.nav__active {
  border-bottom: 2px solid #c4d7b9;
  color: #c4d7b9;
  padding-bottom: 5px;
}
.nav__:hover,
.nav__:active {
  border-bottom: 2px solid #c4d7b9;
  color: #c4d7b9;
}
.copyright{
  background-color:black;
  padding: 20px 0;
  font-size:18px;
  text-align:center;
}
.team{
  color:red;
}
/*-----------------------------main-------------------------------*/
.wrap{
  width:100vw;
  height:100vh;
  background-repeat:no-repeat;
  background-size:contain;
  position: relative;
}
.loveline{
  background-image:url(./IMG/bg1.jpg);
  background-position: center ;
  background-size:cover;
  
}
.fruitGame{
  margin-top:100px;
  background-image:url(./IMG/bg2.webp);
  background-position:bottom;

}
.text__color{
  color:red
}
.love--text{
  position: absolute;
  font-size:58px;
  font-family: 'Dancing Script', cursive;
  font-weight:600;
  top:25%;
}
.love--left{
  left:13%;
}
.love--right{
  right:13%;
}
.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 180px;
  animation: pulse 1.25s ease infinite;
  cursor: pointer;
}
.love--mid{
  top:30%;
  left:45%;
}
.chidan{
  top: 10%;
  right:25%;
  font-size:40px;
  animation: moveTextCheo 1.5s ease infinite;
}
.fruitUI{
  position:absolute;
}
.fruit--text{
  left: 50%;
  transform: translateX(-50%);
  color:#330066;
  font-size:58px;
  font-weight:600;
  letter-spacing: 5px;
}
.btn{
  left: 50%;
  top:20%;
  transform: translateX(-50%);
  background-color:#330066;
  color:white;
  outline: none;
  border:none;
  border-radius:10px;
  cursor: pointer;
  transition:all 0.2s;
}
.btn-primary{
  width: 200px;
  height: 60px;
  font-size:20px;
  font-weight:600; 
}
.btn:hover{
  color:white;
  background-color:#660099;

}
.ico1{
  bottom:10%;
  left:50%;
  width: 300px;
}
.ico2{
  bottom:10%;
  right:10%;
  width: 350px;
}
.ico3{
  bottom:10%;
  left:10%;
  width: 350px;
}
/*--------------------------------------*/
@keyframes moveTextCheo {
  0% { transform: translate(-50%,50%) rotate(-45deg)}
  50% {transform: translate(-45%,10%) rotate(-45deg) }
  100% { transform: translate(-50%,50%) rotate(-45deg)}
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
/*-------------------RESPONSIVE------------------*/
.nav__bar--btn{
  width: 30px;
  height: 30px;
  color:#fff;
  display: none;
  margin-right: 30px;
  font-size: 34px;
}


.nav__overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  animation: fadeIn linear 0.2s;
}

.RESPONSIVE--header__link{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 280px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;

}
.RESPONSIVE--nav--link{
  margin-top: 46px;
}
.RESPONSIVE--nav__{
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 20px;
}
.nav__li{
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.079);
  background-clip: padding-box;
  line-height: 30px;
}
#in{
  background-color: #ccc;
}
.nav__mobie-close{
  position: absolute;
  right: 18px;
  top: 8px;
  font-size: 36px;
  color: #666;
}

.nav_input:checked ~ .nav__overlay{
  display: block;
}

.nav_input:checked ~ .RESPONSIVE--header__link{
  transform: translateX(0);
  opacity: 1;
}


/*---TABLE and MOBIE---*/
@media only screen and (max-width: 63.9375em){
  .nav__bar--btn{
    display: block;
  }

  .heading--main{
    justify-content:space-between;
  }

  .header__logo{
    margin-left: 20px;
  }

  .header__link{
    display: none;
  }

}
