:root,
:root.light {
  --color__box--search: #F0F2F5;
  --color__ico: #e4e6eb;
  --color__text--primary: #65676b;
  --color--active:#31A24C;
  --color--bg:white;
  --color--base:black;
  --color--home:#293b5f;
  --color--box:white;
  --color--off:white;
}
:root.dark{
  --color--bg:#242526;
  --color__box--search: #3A3B3C;
  --color__ico: #353131;
  --color__text--primary: #65676b;
  --color--active:#31A24C;
  --color--bg:#242526;
  --color--box:#18191A;
  --color--home:#d7dff0;
  --color--base:white;
  --color--off:white;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  color: var(--color--base);
  text-rendering: optimizeLegibility;
  font-size: 16px;
  overflow-x: hidden;
}
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
/*------------header-------------------------------------*/
header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var( --color--bg);
  box-shadow: rgba(108, 115, 121, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
}
ul {
  list-style-type: none;
}
.logo {
  width: 70px;
  cursor: pointer;
}
.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mid {
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
  transform: translateX(-120px);
  border-bottom: 4px solid var(--color--home);
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search {
  position: relative;
  margin-left: 15px;
}
.pos{
  position: relative;
}
.search__box {
  font-size: 18px;
  font-weight: 300;
  height: 40px;
  width: 250px;
  outline: none;
  border: none;
  background-color: var(--color__box--search);
  border-radius: 20px;
  padding: 0 10px 0 40px;
  color: var(--color__text--primary);
}
.search__button {
  position: absolute;
  left: 5%;
  top: 27%;
  font-size: 18px;
  color: var(--color__text--primary);
}
.home {
  font-size: 25px;
  cursor: pointer;
  color: var(--color--home);
}

.access {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 0 5px;
  border-radius: 20px;
  transition: all 0.25s;
}
.access:hover {
  background-color: var(--color__box--search);
}
.access__name {
  margin-left: 10px;
}
.user__ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color__ico);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}
.main--nav {
  display: inline-block;
  cursor: pointer;
}
.ico:hover,
.ico:active {
  background-color: #c9cacf;
}

.main--nav:first-child {
  margin-left: 20px;
  margin-right: 10px;
}

h5 {
  font-size: 16px;
}
.access__avt img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.ico__noti {
  position: relative;
}
.ico__helper {
  position: relative;
}
.ico__noti::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  top: 80%;
  background-color: transparent;
}
.noti--table {
  overflow-y:scroll; ;
  padding: 20px 20px;
  display: none;
  position: absolute;
  width: 350px;
  height: 500px;
  background-color: var(--color--bg);
  top: 100%;
  right: -20%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tb--:first-child{
  margin-top:0!important;
}
.tb--{
  margin-top:5px;
}
.eblock{
  display: block !important;
}
.nblock{
  display: none !important;
}
.helper--table {
  padding: 20px 20px;
  display: none;
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: var(--color--bg);
  top: 100%;
  right: -20%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.access--helper {
  justify-content: start;
}
.avt--helper img {
  width: 60px;
  height: 60px;
}
.helper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
  padding: 5px 0;
}
.moon--helper h5{
  font-size:26px;
}
.moon--helper{
  animation: rightToLeft 0.4s ease-in-out ;
}
.chedotoi{
  display: flex;
  justify-self: start;
  align-items: flex-start;
}
.chedotoi .helper--ico{
  width: 56px;

}
.desmoon{
  margin-left: 20px;
  width: 85%;
  margin-bottom: 20px;
}
.onoffmoon{
  display: flex;
  justify-content:space-between;
  align-items:center;
  height:30px;
  font-size:18px;
  font-weight:600;
  padding:10px 20px;
}
.onoffmoon:hover{
  background-color: var(--color__box--search);
  border-radius: 10px;
}
.moon--helper .display--des:hover i{
  transform:translateX(-10px);
}
.onoffmoon input[type=radio]{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.moon--helper .display--des{
  margin: 0 10px 20px 10px !important;
  width: 100%;
  align-items: center;
  justify-content:space-around
}
.bug--des {
  margin-left: 20px;
}
.helper--ico {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
.focus:hover {
  background-color: var(--color__ico);
  padding: 5px 0;
  border-radius: 10px;
}
.display--des {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: calc(100% - 80px);
}
.display--des i {
  font-size: 20px;
  margin-right: 5px;
}
/*-------------------------------------body---------------------------------------------------*/
.body {
  display: flex;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  justify-content: space-between;
  background-color: var(--color__box--search);
}
.body__left {
  position:fixed;
  left: 0;
  top:60px;
  height: 89%;
  width: 20%;
  overflow-y: scroll;

}
.body__middle {
  
  width: 40%;
  margin: 0 auto;
}
.body__right {
  position:fixed;
  right:0;
  height: 88%;
  width: 25%;
  overflow-y: scroll;
}
.ad {
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.box {
  margin-top: 10px;
  background-color: var(--color--box);
  padding: 10px 20px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 10px;
}
.box--para {
  display: flex;
  align-items: center;
}
.access__avt img {
  cursor: pointer;
}
.avt--box img {
  width: 45px;
  height: 45px;
}
.access__avt img:hover {
  filter: brightness(80%);
}
.box__post {
  background-color: var(--color__box--search);
  color: var(--color__text--primary);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  width: 90%;
  margin-left: 20px;
  cursor: pointer;
}
.time--post {
  color: var(--color__text--primary);
  font-size: 13px;
}
.box--last__UI {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noti--table h2{
    margin-bottom: 30px;
}
.box--last__UI2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:var(--color__text--primary);
  font-weight: 600;
  font-size: 17px;
  width:inherit;
}
.feel__UI {
  margin: 10px 0;
}

.feel__UI img {
  width: 17px;
  transform: translateY(10%);
}
.number--feel {
  color: var(--color__text--primary);
  font-size: 17px;
  margin-left: 2px;
}
.comment__UI {
  color: var(--color__text--primary);
  margin-right: 15px;
}
.UI {
  padding: 10px 20px;

  display: flex;    
  justify-content: center;
}
.feel,
.comment {
  cursor: pointer;
}
.UI2{
    width: 50%;
    position: relative;
}
.UI2:hover {
  background-color: var(--color__ico);
  border-radius: 10px;
}
.comment:hover {
  background-color: var(--color__ico);
  border-radius: 10px;
}
.heart {
  position: absolute;
  background: url("./img/img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  top: 50%;
  right: 37%;
  transform: translate(-50%, -50%);
}
.heart.heart-active {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}
.com{
    margin-right: 10px;
    transform: translateY(1px);
}
.feel--love-active{
    color:#BC5449;
    transition: color 1s ease;

}
.box--comment{
    display:none;
}
.open2{
    display: block;
}
.open{
    display:flex !important;
}
.UXcomment{
    margin-top : 20px;
    display: flex;
    flex-direction:column;
}
.comment--user{
  display: flex;
  flex-direction:column;
}
.chat:first-child{ 
  margin-top:0!important;
}
.chat{
    margin-top:10px;
    display: flex;
}
.chat--comment p{
    margin-left: 10px;
    word-break: break-word;
}
.mess__chat{
    background-color: var(--color__box--search);
    padding:7px 10px 7px 0;
    border-radius: 10px;
    margin-left: 10px;

}

.mess__box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.mess__text{
    background-color: var(--color__box--search);
    /* height: 25px; */
    margin-left: 10px;
    border-radius: 10px;
    width: 90%;
    padding:10px 10px 10px 10px;
}
.chat__input{
    width: 100%;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border: none;
}
.active-access{
    position: relative;
}
.btn--active{
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: var(--color--active);
    border-radius: 50%;
    border: 3px solid #fff;
    right:-5%;
    bottom:10%;
}
.post{
    z-index: 99999;
    width:100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(256, 256, 256, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.post--table{
    background-color: white;
    width: 35%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:20px 20px;
    position: relative;
    border-radius: 10px;
}
.post--table h2{
    text-align: center;
}
.access--post{
    justify-content: start;
}
.access--post:hover{
    background-color: #fff;
}
.access--friends{
    justify-content: start;
}
.access--friends:hover{
    background-color: var(--color__ico);

}
.btn--close{
    cursor:pointer;
}
.btn--close i{
    position: absolute;
    right: 20px;
    top:15px;
    background-color: var(--color__ico);
    /* width: 40px;
    height:40px; */
    padding:15px 18px;
    border-radius: 50%;
}
#khungdangbai{
    width: 100%;
    outline: none;
    resize: none;
    padding:10px 10px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;

}
::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
.btn{
    background-color: #293b5f;
    color:#F0F2F5;
    width:100%;
    margin:10px 0 20px 0;
    padding:15px 0;
    cursor: pointer;
    border-radius: 10px;
    outline: none; 
    border:none;
}
.btn:hover{
    background-color: #425988;
}
.friends{
    margin-top: 10px;
}
.friend--active{
    bottom:5%;
    width: 15px;
    height: 15px;
}
.friend--off{
    bottom:5%;
    background-color: var(--color--off);
    border: 3px solid rgb(87, 87, 87);
    width: 15px;
    height: 15px;
}
/*--------------keyframe--------------------------------------*/
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes rightToLeft {
  0%{
    opacity: 0;
    transform:translateX(100%)
  }

}