@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/*----------------------firework copy css tren mang---------------------------*/
.firework{
    width: 100vw;
    height: 100vh;
    background-color: #e2aa01;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10000000;
    font-size: calc(100vmax / 1500 * 100);
    flex-direction: column;
    animation:nayTangTang 2s;
    transform: translateY(-100%);
}
.last--mess{
    font-size:20px;
    margin-top: 20px;
}
.description{
    font-size:1.5rem;
}
.firework--{
    display:none;
}
.title {
    font-family: "Pacifico", cursive;
    font-size:58px;
    color: #fff;
    text-shadow: 6px 4px #735b13;
    margin-bottom: 10px;
}

[class^=firework-] {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.firework-1 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  top: 35%;
  left: 90%;
}

.firework-2 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  top: 80%;
  left: 30%;
}

.firework-3 {
  -webkit-animation: firework-lg 1.2s both infinite;
          animation: firework-lg 1.2s both infinite;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  top: 70%;
  left: 20%;
}

.firework-4 {
  -webkit-animation: firework-sm 1.2s both infinite;
          animation: firework-sm 1.2s both infinite;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  top: 15%;
  left: 75%;
}

.firework-5 {
  -webkit-animation: firework-sm 1.2s both infinite;
          animation: firework-sm 1.2s both infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  top: 85%;
  left: 25%;
}

.firework-6 {
  -webkit-animation: firework-lg 1.2s both infinite;
          animation: firework-lg 1.2s both infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  top: 55%;
  left: 80%;
}

.firework-7 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  top: 25%;
  left: 40%;
}

.firework-8 {
  -webkit-animation: firework-sm 1.2s both infinite;
          animation: firework-sm 1.2s both infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  top: 80%;
  left: 20%;
}

.firework-9 {
  -webkit-animation: firework-lg 1.2s both infinite;
          animation: firework-lg 1.2s both infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  top: 90%;
  left: 60%;
}

.firework-10 {
  -webkit-animation: firework-sm 1.2s both infinite;
          animation: firework-sm 1.2s both infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  top: 30%;
  left: 15%;
}

.firework-11 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  top: 90%;
  left: 60%;
}

.firework-12 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  top: 80%;
  left: 25%;
}

.firework-13 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  top: 75%;
  left: 50%;
}

.firework-14 {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  top: 70%;
  left: 55%;
}

.firework-15 {
  -webkit-animation: firework-sm 1.2s both infinite;
          animation: firework-sm 1.2s both infinite;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  top: 70%;
  left: 40%;
}

@-webkit-keyframes firework-sm {
    0%, 100% {
        opacity: 0;
      }
      10%, 70% {
        opacity: 1;
      }
      100% {
        box-shadow: -1.5rem 0rem 0 #fff, 1.5rem 0rem 0 #fff, 0rem -1.5rem 0 #fff, 0rem 1.5rem 0 #fff, 1rem -1rem 0 #fff, 1rem 1rem 0 #fff, -1rem -1rem 0 #fff, -1rem 1rem 0 #fff;
      }
}

@keyframes firework-sm {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: -1.5rem 0rem 0 #fff, 1.5rem 0rem 0 #fff, 0rem -1.5rem 0 #fff, 0rem 1.5rem 0 #fff, 1rem -1rem 0 #fff, 1rem 1rem 0 #fff, -1rem -1rem 0 #fff, -1rem 1rem 0 #fff;
  }
}
@-webkit-keyframes firework-md {
    0%, 100% {
        opacity: 0;
      }
      10%, 70% {
        opacity: 1;
      }
      100% {
        box-shadow: -0.7rem 0rem 0 #fff, 0.7rem 0rem 0 #fff, 0rem -0.7rem 0 #fff, 0rem 0.7rem 0 #fff, 0.49rem -0.49rem 0 #fff, 0.49rem 0.49rem 0 #fff, -0.49rem -0.49rem 0 #fff, -0.49rem 0.49rem 0 #fff;
      }
}
@keyframes firework-md {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: -0.7rem 0rem 0 #fff, 0.7rem 0rem 0 #fff, 0rem -0.7rem 0 #fff, 0rem 0.7rem 0 #fff, 0.49rem -0.49rem 0 #fff, 0.49rem 0.49rem 0 #fff, -0.49rem -0.49rem 0 #fff, -0.49rem 0.49rem 0 #fff;
  }
}
@-webkit-keyframes firework-lg {
    0%, 100% {
        opacity: 0;
      }
      10%, 70% {
        opacity: 1;
      }
      100% {
        box-shadow: -1.9rem 0rem 0 #fff, 1.9rem 0rem 0 #fff, 0rem -1.9rem 0 #fff, 0rem 1.9rem 0 #fff, 1.4rem -1.4rem 0 #fff, 1.4rem 1.4rem 0 #fff, -1.4rem -1.4rem 0 #fff, -1.4rem 1.4rem 0 #fff;
      }
}
@keyframes firework-lg {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: -1.9rem 0rem 0 #fff, 1.9rem 0rem 0 #fff, 0rem -1.9rem 0 #fff, 0rem 1.9rem 0 #fff, 1.4rem -1.4rem 0 #fff, 1.4rem 1.4rem 0 #fff, -1.4rem -1.4rem 0 #fff, -1.4rem 1.4rem 0 #fff;
  }
}
@keyframes nayTangTang{
    0%{
        transform: translateY(-200%);
    }
    50%{
        transform: translateY(-100%);
    }
    60%{
        transform: translateY(-120%);
    }
    70%{
        transform: translateY(-100%);
    }
    80%{
        transform: translateY(-110%);
    }
    90%{
        transform: translateY(-100%);
    }
    95%{
        transform: translateY(-105%);
    }
    100%{
        transform: translateY(-100%);
    }
} 