@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root{
    --color--bg__btn:#E4E6EB;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
    color: black;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}
body {
    overflow-x: hidden;
}
/*---loadding---------*/
#myProgress {
    width: 200%;
    background-color: white;
    transform:translateX(-27%);
    border:2px solid black;
    border-radius:15px;
}
  
#myBar {
    width:10%;
    border-radius:15px;
    height: 30px;
    background-color: black;
    text-align: center;
    line-height: 30px;
    color:aqua;
}
/*--------------------------------------*/
.loadding--layer{
    background-color: #ACDFEA;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.fruits--loadding{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fruits{
    background-position: left;
    background-size: 500%;
    height: 90px;
    width: 90px;
    border-radius:50% ;
    
    background-repeat: no-repeat; 
    background-image: url(./img/loading.png);
    animation: animate 2.5s steps(4) infinite ;
    background-position: right;
}
.sun-effect{
    position: absolute;
}
.sun{
    animation:drop 0.6s;
    width: 200px;
    height: 200px;
}
.sun img{
    width: 200px;
    height: 200px;
}
.sun--vien{
    animation: scaleSun 1.5s infinite;
}
.cloudys{
    position: absolute;
}
.cloudy--1{
    right: 0;
    animation:drop 0.6s;

}
.cloudy--2{
    top:60%;
    animation:leftTo 0.6s;

}
.cloudy--3{
    left:40%;
    animation:drop 0.6s;
}
.cloudy--4{
    animation:rightTo 0.8s;
}
.may{
    z-index: 100;
}
.img-cute1{
    bottom:0%;right:0;
}
.sun--active{
    top:40%;
    left:40%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    animation:growSun 3s;
}
.endloading{
    animation: opLoad 2s forwards;
}
.close{
    display:none !important;
}
button{
    background:transparent;
    outline:none;
    border:none;
    cursor: pointer;
}
/*------------levelEASY------------*/
.game--start{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: url(./img/bg_1.png)  ;
    background-position: center;
    position: relative;
}
.start{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100vw;
    height: 100vh;
}
.header--name img{
    width:80px;
    margin-right: 50px;
}
.header--name h2{
    letter-spacing: 2px;
    margin-right: 50px;
    font-size: 40px;
}
.header--name{
    margin: 0 auto;
}
.header--goback{
    background-color: var(--color--bg__btn);
    width: 60px;
    height: 60px;
    border-radius:50%;
    cursor: pointer;
    transition:all 0.5s;
}
.header--goback:hover{
    background-color: rgb(173, 120, 120);
}
.header--home{
    margin-left:10px;
}
.header--goback:hover i{
    color:rgb(223, 206, 206);
}
.header--goback i{
    font-size:30px;
    color:rgb(43, 43, 43);
    transform: rotate(180deg);
}
.level{
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius:20px;
    padding:30px 30px ;

}
.level--start{
    position: relative;
}
.display--game{
    display:flex;
    align-items:center;
}
.btn{
    padding:20px 40px;
    border-radius:20px;
    border:5px solid black;
    font-size:25px;
    font-weight:bold;
}
.game--bar{
    margin-top:100px;
    justify-content:space-around;
    align-items: center;
    display:flex;
}
.btn:hover{
    background-color:var(--color--bg__btn);
}
.note{
    width:93%;
    height:20px;
    position:absolute;
    bottom:5%;
}
.game--play__active{
    height:300px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    position: relative;
}
.help--user{
    flex-direction: column !important;
     justify-content:space-around;
}
.img--game img{
    object-fit: cover;
    width:250px;
}
.answer--header{
    margin-bottom: 40px;
    font-weight:bold;
    font-size:30px;
}
.congrat{
    position: absolute;
    top:0%;
    left:5%;
    z-index: 1000;
    transform-origin: center -200px;
    animation: swing ease-in-out 0.3s infinite alternate;
}
.tb2{
    width: 250px;
}
.answer--form input{
    padding:10px 15px;
    outline:none;
    height:40px;
    border-radius: 10px;
    border: 1px solid black;
}
.btn--sub{
    margin-left: 10px;
    background-color:#00AA00;
    padding:12px 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s;
}
.btn--sub:hover{
    background-color:#006600;
    color:white;
}
.level--game{
    position:absolute;
    top:5%;
    margin-left: 10px;
}
.fruitL{
    left:39%;
}
.fruitS{
    left: 55%;
}
.flip{
    left:39%;
    top:90% !important;
}
.time{
    left:55%;
    top:90% !important;
}
.score{
    position:absolute;
    top:5%;
}
.setting{
    position:absolute;
    top:5%;
    right:10%;
    font-size:30px;
    cursor: pointer;
    transform-origin: center;
}
.setting:hover{
    animation:rotate 1s;

}
.game--level__close{
    display:none;
}
.help--level__close{
    display:none;
}
.game--next__close{
    display:none;
}
.game--level__open{
    display:flex !important;
}
.animation{
    animation: rightToLeft 0.75s;
}
.g4{
    height:350px;
    background-color:#f1f15d;
}
/*------------------------------card----------------------------------*/
.flip-card {
    background-color: transparent;
    width: 70px;
    cursor: pointer;
    height: 70px;
    perspective: 1000px;
}
  

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.act{
  transform: rotateY(180deg);
}
.actimp{
    transform: rotateY(180deg);
}
.active--card{
    pointer-events: none !important;
    cursor: default !important;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #cc9966;
  border:3px solid black;
}

.flip-card-back {
  border:3px solid black;
  background-color: white;
  transform: rotateY(180deg);
}
.game--card{
    display: flex;
}
.flip-card{
    margin-left: 10px;
    margin-bottom: 10px;
}

/*--------------------------------------*/
@keyframes animate {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
}
@keyframes scaleSun {
    0% {
      transform:scale(1);
    }
    100% {
        transform:scale(1.2);
    }
}
@keyframes drop {
    0%{
        transform:translateY(-100px);
    }
}
@keyframes leftTo {
    0%{
        transform:translateX(-100px);
    }
}
@keyframes rightTo {
    0%{
        transform:translateX(100px);
    }
}
@keyframes growSun{
    0%{
        transform:scale(1) rotate(0deg);

    }
    100%{
        transform: scale(20) rotate(200deg);
    }
}
@keyframes opLoad{
    0%{
        opacity:1;

    }
    100%{
        opacity: 0;
    }
}
@keyframes  rightToLeft {
    0%{
        opacity: 0;
        transform:translateX(100%);
    }
}
@keyframes  rotate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes swing {
    0% { 
        transform: rotate(3deg) ;
     }
    100% { 
        transform: rotate(-3deg); 
    }
}