
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Roboto,sans-serif;
  text-rendering: optimizeLegibility;
}
body{
  overflow-x: hidden;
}
/*------*/
li{
  list-style-type: none;
}
header{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.bgvideo{
  object-fit: fill;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.ml--18{
  margin-left: 18px !important;
}
.form{
  width: 1024px;
  /* width: 100%; */
  font-size: 18px;
  margin: auto;
  /* position: relative; */

  /* background-color: rgb(243 187 239 / 78%); */
}
.form__info{
  margin-left: 32px;
}
.form__info--item{
  line-height: 3;
  /* text-align: center; */
}
.form--input{
  padding: 10px;
  margin-left: 8px;
  border: 0.8px solid #000;
  border-radius: 4px;
  font-size: 16px;
  width: 250px;
}
.form__gender--rad{
  margin-left: 24px;
}
.label--gender{
  margin: 0 8px;
}
.box {
  text-align: center;
}
.box-btn {
  padding: 5px 16px;
}
.box-btn1 {
  padding: 5px 16px;
}
.box-btn:hover {
  background: #fff;
  cursor: pointer;
}
.btn-button {
  background: lemonchiffon;
}
.btn-button:hover {
  cursor: pointer;
  background-color: #fff;
}
/* Slideshow container */
.text-p {
  text-align: center;
  font-size: 32px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.picture {
  width: 100%;
  height: 700px;
  filter: brightness(100%);
  object-fit: fill;
  border-radius: 10px;
}
.btn__ {
  font-size: 40px;
  padding: 10px 15px;
  color: white;
}
.slick-prev:hover,
.slick-prev:active {
  opacity: 0.8;
  left: 2px;
}
.slick-next:hover,
.slick-next:active {
  opacity: 0.8;
  right: 2px;
}
.slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: black;
  z-index: 10;
  left: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
}
.slick-next {
  position: absolute;
  top: 50%;
  right: 5px;
  opacity: 0.5;
  transform: translateY(-50%);
  border: none;
  background-color: black;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}
.slick-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  transition: all 2s;
}
.slick-active button {
  background-color: #02151b;
}
.text_ {
  position: absolute;
  color: red;
  z-index: 10;
}
.header--slide{
  width:60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin:50px 0;

}
.s{
  position: relative;
}
.box{
  margin:20px 0;
  
}

.box button:hover{
  background-color:pink;
  color:black;
  
}
.box button{
  background-color:bisque;
  padding:10px 20px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #000;
  transition: all 0.2s;
  cursor: pointer;
}
.infor{
  position: absolute;
  z-index: 100;
  bottom:10%;
  left:50%;
  transform: translate(-50%,0);
  color: #fff;
  font-size: 18px;
  width:100%;
  padding: 10px 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
.p{
  margin-bottom: 10px;
}
.namwant{
  display: none;
}
.nuwant{
  display: none;
}
.open{
  display: block;
}